@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Source+Sans+Pro:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: source sans pro, open sans;
  font-size: 16px;
  color: black;
}
/*heading*/
h1,
h2 {
  font-family: playfair display, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
}
/*logo*/

.no-link {
  text-decoration: none;
}

#logo {
  display: block;
  text-align: left;
  font-size: 280%;
  margin-top: 1px;
  background-color: rgb(218,165,32);
  text-decoration: none;
}

/* navigation links */
.header {
  height: 20vh;
}

.text-center {
  text-align: right;
  text-transform: uppercase;
  font-size: 110%;
}

.background {
  background-color: rgb(218,165,32);
}

#menu {
  letter-spacing: 2px;
  padding-right: 15px;
}

#menu,
#logo {
  line-height: 50px;
  padding-left: 15px;
}

#menu li {
  display: flex;
  list-style-type: none;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border-bottom: 1px solid#3a3a3a;
}

.active {
  border-bottom: 1px solid#3a3a3a;
}

/*footer*/
footer {
  bottom: 0;
  height: auto;
  background-color: rgb(218,165,32);
  width: 100%;
}

.social-media {
  text-align: center;
}

.social-media>li {
  display: inline-block;
  margin-right: 5em;
  vertical-align:bottom;
  padding-top: 15px;
  padding-bottom: 15px;
}

.social-media i {
  font-size: 160%;
  margin: 1%;
  color: #3a3a3a
}

/*image spice*/
#image-spice-holder {
  height: 600px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 25px;
}

#image-spice {
  height: 600px;
  width: 100%;
  background: url('../images/dosa.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}


/*About Us*/
.para {
  font-size: 17px;
  margin: auto;
  text-align: justify;
}

h2 {
  text-align: center;
}

#food-img img{
  width: 100%;
}
#our-food {
  width: 100%;
}
#our-story{
  width: 100%;
}
#story-img img{
  width: 100%;
}

/*gallery*/
#gallery1 {
  padding-top: 50px;
}
.gallery, #gallery1, #gallery2, #gallery3{
  display: block;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#gallery1 img {
  width: 100%;
}
#gallery2 img {
  width: 100%;
}
#gallery3 img {
  width: 100%;
}

#image-restaurant {
  padding-top: 50px;
  width: 100%;
}
#image-restaurant img{
  width: 100%;
}

#map-wrapper {
  width: 100%;
  height: 200px;
}

#address-wrapper {
  text-align: center;
  font-family: source sans pro, open sans;
}

#address-wrapper p {
  font-size: 16px;
  font-weight: bold;
  font-family:  source sans pro, open sans;
}

.video-section {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit:contain;
}

.bg-contact-us {
  width: 100%;
  margin: 0 auto;
  background-size: cover;
}

.contact-form {
  text-align: center;
  font-size: 18px;
  padding: 20px 20px 20px 20px;
  background-size: contain;
  font-family: open sans, sans-serif;
}

#fname {
  padding: 13px 5px;
  border: 1px solid #e1e1e1;
  width: 100%;
  border-radius: 8px;
}

#phone {
  padding: 13px 5px;
  border: 1px solid #e1e1e1;
  width: 100%;
  border-radius: 8px;
}

#email {
  padding: 13px 5px;
  border: 1px solid #e1e1e1;
  width: 100%;
  border-radius: 8px;
}

#message {
  padding: 13px 5px;
  border: 1px solid #e1e1e1;
  width: 100%;
  border-radius: 8px;
  font-family:  source sans pro, open sans;
  resize: none;
}

#contact {
  padding: 20px;
}

.btn-contactus-submit {
  background: rgb(218,165,32);
  color: black;
  height: 30px;
  width: 100px;
  cursor: pointer;
  border-radius: 8px;
}

/* Tablet Responsiveness Start */
@media only screen and (min-width: 600px) {

  #menu,
  #logo {
    line-height: 75px;
    padding-left: 15px;
  }

  #logo {
    position: absolute;
    text-align: left;
    font-size: 280%;
    margin-top: 1px;
    text-decoration: none;
  }
  
  /* navigation links */
  .header {
    height: 15vh;
  }
   #menu li {
      display: inline;
      list-style-type: none;
      margin-left: 30px;
    }

  #our-story-container {
    padding-right: 50px;
  }

  #story-img {
    width: 50%;
    float: left;
  }

  #our-food-container {
    padding-right: 50px;
  }

  #food-img {
    width: 50%;
    float: left;
  }

  .prep-video {
    width: 50%;
  }

  .gallery, #gallery1, #gallery2, #gallery3{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  #gallery1 img {
    width: 32.5vw;
  }
  #gallery2 img {
    width: 32.5vw;
  }
  #gallery3 img {
    width: 32.5vw;
  }
  
  #story-img img {
    width: 230px;
  }
  #food-img img {
    width: 230px;
  }
  #image-restaurant {
    padding-top: 50px;
    display: flex;
    width: 100%;
    align-self: center;
    justify-content: center;
    border-radius: 15px;
  }
  #image-restaurant img{
    width: 32.5vw;
  } 

  .bg-contact-us {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-size: cover;
  }
}
/* Tablet responsiveness complete */


/* Laptop Responsiveness Start */
@media only screen and (min-width: 1280px) {
  
  #menu,
  #logo {
    line-height: 75px;
    padding-left: 15px;
  }

  #logo {
    position: absolute;
    text-align: left;
    font-size: 280%;
    margin-top: 1px;
    text-decoration: none;
  }
  
  /* navigation links */
  .header {
    height: 15vh;
  }
   #menu li {
      display: inline;
      list-style-type: none;
      margin-left: 30px;
    }

  #our-story-container {
    padding-left: 100px;
  }

  #story-img {
    display: flex;
  }

  #our-food-container {
    padding-left: 100px;
  }

  #food-img {
    width: 50%;
    float: left;
  }

  .prep-video {
    width: 50%;
  }

  .gallery, #gallery1, #gallery2, #gallery3{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  #gallery1 img {
    width: 32.5vw;
  }
  #gallery2 img {
    width: 32.5vw;
  }
  #gallery3 img {
    width: 32.5vw;
  }
  #story-img img {
    width: 500px;
  }
  #food-img img {
    width: 500px;
  }

  #image-restaurant {
    padding-top: 50px;
    display: flex;
    width: 100%;
    align-self: center;
    justify-content: center;
    border-radius: 15px;
  }

  #image-restaurant img{
    width: 32.5vw;
  }

  .bg-contact-us {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-size: cover;
  }
}
/* Laptop Responsiveness Complete*/


/* Desktop Responsiveness Start */
@media only screen and (min-width: 1600px) {
  
  #menu,
  #logo {
    line-height: 75px;
    padding-left: 15px;
  }

  #logo {
    position: absolute;
    text-align: left;
    font-size: 280%;
    margin-top: 1px;
    text-decoration: none;
  }
  
  /* navigation links */
  .header {
    height: 10vh;
  }
  #menu li {
    display: inline;
    list-style-type: none;
    margin-left: 30px;
  }
  footer {
    bottom: 0;
    background-color: rgb(218,165,32);
    width: 100%;
  }
  #our-story-container {
    padding-left: 100px;
  }

  #story-img {
    width: 50%;
    float: left;
  }

  #our-story {
    width: 50%;
    float: left;
  }

  #our-food-container {
    padding-left: 100px;
  }

  #our-food {
    width: 50%;
    float: left;
  }

  #food-img {
    width: 50%;
    float: left;
  }

  .gallery, #gallery1, #gallery2, #gallery3{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  #gallery1 img {
    width: 32.5vw;
  }
  #gallery2 img {
    width: 32.5vw;
  }
  #gallery3 img {
    width: 32.5vw;
  }

  #story-img img {
    width: 500px;
  }
  #food-img img {
    width: 500px;
  }

  #image-restaurant {
    padding-top: 50px;
    display: flex;
    width: 100%;
    align-self: center;
    justify-content: center;
    border-radius: 15px;
  }

  #image-restaurant img{
    width: 32.5vw;
  }

  .bg-contact-us {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-size: cover;
  }
}
/* Desktop Responsiveness Complete*/

.dosa-item {
  font-size: 20px;
  padding: 25px 50px 75px 100px;
  width: 50%;
  margin: 0 auto;
}

.dosa-item ul {
  list-style-type: none;
  list-style-position: inside;
}

h1 {
  text-align: center;
}

.menu-price {
  float: right;
  font-weight: bold;
}

.menu-extra-detail {
  font-size: 15px;
  font-style: italic;

}

.background-menu {
  background-size: cover;
}

.book-table {
  background: rgb(218,165,32);
  color: black;
  height: 30px;
  width: 120px;
  cursor: pointer;
  margin: auto;
  display: block;
  padding-bottom: 10px;
  border-radius: 8px;
  text-align: center;
  line-height: 2.5em;
  text-decoration: none;
}